<a href="https://colab.research.google.com/github/Alienor1268/flight/blob/main/KaggleTrial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install -q kaggle

# LINK BETWEEN KAGGLE AND GOOGLE COLAB

https://www.youtube.com/watch?v=57N1g8k2Hwc[Linktext](https://)

In [17]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle.json': b'{"username":"goussainvil28","key":"7d7c5a97f9107f97fa06c7b9e333d5d5"}'}

In [18]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [19]:
! cp kaggle.json ~/.kaggle/

In [21]:
! chmod 600 ~/.kaggle/kaggle.json

In [22]:
!pip install kaggle --upgrade

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [23]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              235KB  2021-10-10 17:55:57          13950
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           8392
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           3741
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1618
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           3180
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2246
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1359
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1100
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            986
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            175
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            390
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            399
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            942
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            139
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            215
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            157
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         154635
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         146099
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          28389
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          23328

# LOAD DATA SET AIRLINE

In [24]:
! kaggle datasets download -d bulter22/airline-data

airline-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [26]:
! unzip airline-data.zip

Archive:  airline-data.zip
replace airline.csv.shuffle? [y]es, [n]o, [A]ll, [N]one, [r]ename:

# USE R - install spark and dplyr

https://www.youtube.com/watch?v=Py58PFPGP7o
https://www.youtube.com/watch?v=huAWa0bqxtA

In [27]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [29]:
%%R
install.packages('sparklyr')
library(sparklyr)
install.packages('dplyr')
library(dplyr)

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/sparklyr_1.7.2.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 4783547 bytes (4.6 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 4.6 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/RtmpDeLCvk/downloaded_packages’
R[write to console]:
R[write to console]:

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/dplyr_1.0.7.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 852103 bytes (832 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 832 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/RtmpDeLCvk/downloaded_packages’
R[write to console]:
R[write to console]:

In [30]:
%%R
#need spark 3.00 for java 11
spark_install(version = "3.0.0")

R[write to console]: Spark 3.0.0 for Hadoop 3.2 or later already installed.

In [ ]:
#%%R
#not working - not enough RAM
#data <- read.csv('/content/airline.csv.shuffle')
#data <- fread('/content/airline.csv.shuffle')

In [31]:
%%R
#https://bookdown.org/rdpeng/RProgDA/working-with-large-datasets.html
library(data.table)

In [40]:
%%R
# only import the first couple of rows for exploratory analysis 
df <- fread('/content/airline.csv.shuffle', nrows=500)
df

     ActualElapsedTime AirTime ArrDelay ArrTime CRSArrTime CRSDepTime
  1:                53      32       -8    1642       1650       1545
  2:               164     155      -11    1754       1805       1610
  3:                60      NA       15    2005       1950       1850
  4:                51      NA       -5    1818       1823       1728
  5:                45      29        2    1120       1118       1030
 ---
496:               118      98       -3    2227       2230       1933
497:                68      58       15    2224       2209       2055
498:               108      90        3    1354       1351       1107
499:               249     224      -11    1937       1948       1225
500:                67      51      -10     901        911        800
     CRSElapsedTime CancellationCode Cancelled CarrierDelay DayOfWeek
  1:             65             <NA>         0           NA         4
  2:            175             <NA>         0           NA         4
  3:             60             <NA>         0           NA         5
  4:             55             <NA>         0           NA         4
  5:             48                          0            0         1
 ---
496:            117                          0            0         3
497:             74             <NA>         0           NA         3
498:            104             <NA>         0           NA         1
499:            263             <NA>         0           NA         7
500:             71             <NA>         0           NA         7
     DayofMonth DepDelay DepTime Dest Distance Diverted FlightNum
  1:         10        4    1549  PIT      205        0       209
  2:          2        0    1610  MCI     1072        0       109
  3:         10       15    1905  CLT      227        0      1276
  4:         28       -1    1727  BNA      200        0       961
  5:         19        5    1035  CMH      116        0      5873
 ---
496:         16       -4    1929  MLI      751        0      6582
497:         15       21    2116  RDU      336        0      1282
498:         15       -1    1106  IAH      667        0      1823
499:         21        3    1228  DTW     1957        0       985
500:         12       -6     754  DCA      331        0      1478
     LateAircraftDelay Month NASDelay Origin SecurityDelay TailNum TaxiIn
  1:                NA    10       NA    DCA            NA  N443US      7
  2:                NA    12       NA    MCO            NA    N755      2
  3:                NA    12       NA    ATL            NA    <NA>     NA
  4:                NA     9       NA    MEM            NA    <NA>     NA
  5:                 0     6        0    CVG             0  N785CA      3
 ---
496:                 0     8        0    DEN             0  N925SW      4
497:                NA    11       NA    PHL            NA  N244US      4
498:                NA     3       NA    ELP            NA  N12539      6
499:                NA     1       NA    SAN            NA  N316US     10
500:                NA    12       NA    CLT            NA  N884US      5
     TaxiOut UniqueCarrier WeatherDelay Year
  1:      14            US           NA 2002
  2:       7            WN           NA 1999
  3:      NA            DL           NA 1993
  4:      NA            AA           NA 1989
  5:      13            OH            0 2006
 ---
496:      16            OO            0 2006
497:       6            US           NA 1995
498:      12            CO           NA 1999
499:      15            NW           NA 1996
500:      11            US           NA 1999

https://bookdown.org/rdpeng/RProgDA/working-with-large-datasets.html

datatable in order to manage large dataset

In [ ]:
#test with first 3 columns
#%%R
#fread('/content/airline.csv.shuffle',
      #select = c('ActualElapsedTime', 'AirTime', 'ArrDelay')) %>%
  #dplyr::slice(1:3)

R[write to console]: |--------------------------------------------------|
|
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: |

   ActualElapsedTime AirTime ArrDelay
1:                53      32       -8
2:               164     155      -11
3:                60      NA       15

connection to spark

In [42]:
%%R
# connect to spark
spark_conn <- spark_connect("local")

R[write to console]: * Using Spark: 3.0.0

In [47]:
# Copy track_metadata to Spark
%%R
df_tbl <- copy_to(spark_conn, df,  overwrite = FALSE)

In [49]:
%%R
# See how big the dataset is
dim(df_tbl)

# See how small the tibble is
#object_size(df_tbl)

[1] NA 29

In [51]:
# Print 5 rows, all columns
%%R
print(df_tbl, n = 5, width = Inf)

# Source: spark<df> [?? x 29]
  ActualElapsedTime AirTime ArrDelay ArrTime CRSArrTime CRSDepTime
              <int>   <int>    <int>   <int>      <int>      <int>
1                53      32       -8    1642       1650       1545
2               164     155      -11    1754       1805       1610
3                60      NA       15    2005       1950       1850
4                51      NA       -5    1818       1823       1728
5                45      29        2    1120       1118       1030
  CRSElapsedTime CancellationCode Cancelled CarrierDelay DayOfWeek DayofMonth
           <int> <chr>                <int>        <int>     <int>      <int>
1             65  <NA>                    0           NA         4         10
2            175  <NA>                    0           NA         4          2
3             60  <NA>                    0           NA         5         10
4             55  <NA>                    0           NA         4         28
5             48 ""                       0            0         1         19
  DepDelay DepTime Dest  Distance Diverted FlightNum LateAircraftDelay Month
     <int>   <int> <chr>    <int>    <int>     <int>             <int> <int>
1        4    1549 PIT        205        0       209                NA    10
2        0    1610 MCI       1072        0       109                NA    12
3       15    1905 CLT        227        0      1276                NA    12
4       -1    1727 BNA        200        0       961                NA     9
5        5    1035 CMH        116        0      5873                 0     6
  NASDelay Origin SecurityDelay TailNum TaxiIn TaxiOut UniqueCarrier
     <int> <chr>          <int> <chr>    <int>   <int> <chr>
1       NA DCA               NA N443US       7      14 US
2       NA MCO               NA N755         2       7 WN
3       NA ATL               NA <NA>        NA      NA DL
4       NA MEM               NA <NA>        NA      NA AA
5        0 CVG                0 N785CA       3      13 OH
  WeatherDelay  Year
         <int> <int>
1           NA  2002
2           NA  1999
3           NA  1993
4           NA  1989
5            0  2006
# … with more rows

In [54]:
# Manipulate the track metadata
%%R
df_tbl %>% select(FlightNum, Origin, ArrDelay, CarrierDelay, Year) %>% filter(ArrDelay >= 0)

# Source: spark<?> [?? x 5]
   FlightNum Origin ArrDelay CarrierDelay  Year
       <int> <chr>     <int>        <int> <int>
 1      1276 ATL          15           NA  1993
 2      5873 CVG           2            0  2006
 3       353 MYR           2           NA  1997
 4      1123 LGA          10           NA  1998
 5       545 ATL          43           NA  1993
 6      1270 ORD          40           NA  1997
 7       950 SAN          13           NA  1999
 8      4811 ATL         136          136  2006
 9       842 STL          16           NA  1990
10       722 DEN           9           NA  1990
# … with more rows

In [ ]:
%%R
# Disconnect from Spark
spark_disconnect(spark_conn)